<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
    {% endblock meta %}
    <title>{% block title %}{{ swagger_data.spec.info.title }}{% endblock title %}</title>

    {% block stylesheets %}
        {{ nelmioAsset(assets_mode, 'swagger-ui/swagger-ui.css') }}
        {{ nelmioAsset(assets_mode, 'style.css') }}
    {% endblock stylesheets %}

    {% block swagger_data %}
        {# json_encode(65) is for JSON_UNESCAPED_SLASHES|JSON_HEX_TAG to avoid JS XSS #}
        <script id="swagger-data" type="application/json">{{ swagger_data|json_encode(65)|raw }}</script>
    {% endblock swagger_data %}
</head>
<body>
    {% block svg_icons %}
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute;width:0;height:0">
            <defs>
                <symbol viewBox="0 0 20 20" id="unlocked">
                    <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V6h2v-.801C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8z"></path>
                </symbol>
                <symbol viewBox="0 0 20 20" id="locked">
                    <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8z"></path>
                </symbol>
                <symbol viewBox="0 0 20 20" id="close">
                    <path d="M14.348 14.849c-.469.469-1.229.469-1.697 0L10 11.819l-2.651 3.029c-.469.469-1.229.469-1.697 0-.469-.469-.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-.469-.469-.469-1.228 0-1.697.469-.469 1.228-.469 1.697 0L10 8.183l2.651-3.031c.469-.469 1.228-.469 1.697 0 .469.469.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c.469.469.469 1.229 0 1.698z"></path>
                </symbol>
                <symbol viewBox="0 0 20 20" id="large-arrow">
                    <path d="M13.25 10L6.109 2.58c-.268-.27-.268-.707 0-.979.268-.27.701-.27.969 0l7.83 7.908c.268.271.268.709 0 .979l-7.83 7.908c-.268.271-.701.27-.969 0-.268-.269-.268-.707 0-.979L13.25 10z"></path>
                </symbol>
                <symbol viewBox="0 0 20 20" id="large-arrow-down">
                    <path d="M17.418 6.109c.272-.268.709-.268.979 0s.271.701 0 .969l-7.908 7.83c-.27.268-.707.268-.979 0l-7.908-7.83c-.27-.268-.27-.701 0-.969.271-.268.709-.268.979 0L10 13.25l7.418-7.141z"></path>
                </symbol>
                <symbol viewBox="0 0 24 24" id="jump-to">
                    <path d="M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.41L5.83 13H21V7z"></path>
                </symbol>
                <symbol viewBox="0 0 24 24" id="expand">
                    <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z"></path>
                </symbol>
            </defs>
        </svg>
    {% endblock svg_icons %}
    
    {% block header_block %}
        <header>
        <head>
       
        {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        <link href="{{ asset ('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="{{ asset('https://fonts.googleapis.com') }}">
        <link rel="preconnect" href="{{ asset('https://fonts.gstatic.com') }}" crossorigin>
        <link rel="stylesheet" href="{{ asset('asset/css/normalize.css') }}">
       {% block header %}
                <a id="logo" href="https://github.com/nelmio/NelmioApiDocBundle">
                    <img src="{{ nelmioAsset(assets_mode, 'logo.png') }}" alt="NelmioApiDocBundle">
                </a>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-4 pt-4">
                 <div class="container-fluid">    
                {# <a class="nav-link" href="{{ path('app_user') }}">
                    <img src="{{ asset('asset/img/icone-cometa-project.jpg') }}" alt="" class="logo" style="max-width: 50px;">
                </a>     #}
                <a class="navbar-brand" href="{{ path('app_user') }}">CoMeta Club</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse header_contacts" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mr-3">
                        <a class="nav-link header_email mr-1" href="mailto:ficakki48@gmail.com">comet-ap@gmail.com</a>
                        <li class="ml-3"><a class="nav-link  header_exit ml-1" href="{{ path('app_user') }}">Выйти</a></li>
                        <li class="ml-3"><a class="nav-link  header_signin ml-1" href="{{ path('app_user') }}">Войти</a></li>
                        <li class="ml-3"><a class="nav-link pakage_table_name-1 ml-1" href="{{ path('app_user') }}">Регистрация</a></li>    
                    </ul>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light" style="background:  rgb(72, 109, 169);">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="{{ path('app_user') }}">Главная</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_user') }}">О проекте</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_user') }}">Правила и акции</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('app_pakage') }}">Обзор пакетов</a>
                        </li>
                        <li>
                        <a class="nav-link text-light" href="{{ path('app_user_name',{'id': 3}) }}" style="color: rgb(72, 109, 169);">Мой баланс</a>
                        </li>
                        <li>
                        <a class="nav-link text-light" href="{{ path('app_user') }}" style="color: rgb(72, 109, 169);">Мой кошелек</a>
                        </li>      
                        <li>
                        <a class="nav-link text-light" href="{{ path('app_user',{'unique_code_get' : 'not' }) }}" style="color: rgb(72, 109, 169);">Купить пакет</a>
                        </li>  
                    </ul>
                    </div>
                </div>
            </nav>
            {% endblock header %}
           
        </head>
        </header>
    {% endblock header_block %}

    {% block swagger_ui %}
        <div id="swagger-ui" class="api-platform"></div>
    {% endblock %}

    {% block javascripts %}
        {{ nelmioAsset(assets_mode, 'swagger-ui/swagger-ui-bundle.js') }}
        {{ nelmioAsset(assets_mode, 'swagger-ui/swagger-ui-standalone-preset.js') }}
    {% endblock javascripts %}

    {{ nelmioAsset(assets_mode, 'init-swagger-ui.js') }}

    {% block swagger_initialization %}
        <script type="text/javascript">
            (function () {
                var swaggerUI = {{ swagger_ui_config|json_encode(65)|raw }};
                window.onload = loadSwaggerUI(swaggerUI);
            })();
        </script>
    {% endblock swagger_initialization %}
</body>
</html>
